.testimonial-head h4{
   color: rgb(28, 199, 193);
   font-family: 'Open Sans', sans-serif;
}
.testimonial-head h2{
   font-family: 'Open Sans', sans-serif;
   padding-right: 934px;
   font-weight: 600;
   font-size: 35px;
   margin-top: 20px;
   margin-bottom: 50px;
}
