.main-content {
   padding: 150px 0;
}
.main-heading{
   font-size: 50px;
   padding: 0 70px;
   margin-bottom: 15px;
   color: #3A4256;
}
.main-para{
   padding: 0 70px;
   margin-bottom: 25px;
   color: rgb(173, 152, 152);
}
.main-btn{
   margin-left: 60px;
   width: 180px;
   height: 40px;
   border: 0;
}
.main-left{
   margin-top: 50px;
}
.main-left button{
   border: 0;
   background-color: transparent;
}