.login-img{
   margin-top: 35px;
}
.login-img img{
   width: 100%;
   height: 660px;
}
.login-form{
  color: #aaa;
  font-family: 'Open Sans', sans-serif;
  margin: auto;
}
.login-form h2{
  text-align: center;
  color: grey;
  font-weight: 500;
  margin-bottom: 30px;
}
.login-form label{
   margin-top: 20px;
}
.login-form input{
   border: 0;
   border-bottom: 2px solid #ccc;
   border-radius: 0;
   width: 400px;
}
.login-form input:focus{
   border-color: #ccc;
   box-shadow: none;
}
.login-form .form-group,
.login-form .sign-in,
.login-form .google-button{
   margin-left: 60px;
}
.login-form .sign-in{
   margin-top: 40px;
   width: 400px;
   border-radius: 5px;
}
.google-button{
   margin-top: 10px;
   width: 400px;
}
.google-text{
   margin-left: 5px;
}